.box {
  padding: 40px;
  background: #fdfdfd;
  border-radius: 16px;
  width: 100%;
}
.title {
  font-size: 24px;
  font-weight: 600;
  color: #161616;
  padding-bottom: 16px;
  border-bottom: 1px solid #dadada;
  margin-bottom: 24px;
}
.label {
  font-size: 18px;
  font-weight: 600;
  color: #161616;
  margin-bottom: 10px;
}
.input {
  width: 420px;
  border: 2px solid #dadada;
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  color: #161616;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  &::placeholder {
    color: #595959;
    font-size: 16px;
    font-weight: 500;
  }
}
.inputItem {
  margin-bottom: 24px;
  &:last-child {
    margin-bottom: 0;
  }
}
form {
  margin-bottom: 32px;
}
.button {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  font-size: 16px;
  font-weight: 600;
  color: #fdfdfd;
  padding-right: 42px;
  border-radius: 50px;
  background-color: #161616;
  transition: all 0.38s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #f4f4f4;
    color: #595959;
  }
}
.success{
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 20px;
}
.successText{
font-size: 20px;
font-weight: 600;
color: #595959;
}
.modalContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inputWrapper {
  position: relative;
  width: fit-content;

}

.clearButton {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  color: #595959;
}

.clearButton:hover {
  color: #595959;
}
