@import "../../style/mixin.scss";
.headerContainer {
  background: #fdfdfd;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1140px;
  margin: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}
.social {
  display: flex;
  align-items: center;
}
.icons {
  display: flex;
  align-items: center;
}
.icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-right: 4px;
  &:last-child {
    margin-right: 20px;
  }
}
.userBlock {
  display: flex;
  align-items: center;
}
.userAvatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: contain;
  margin-right: 8px;
}
.logo {
  width: 124px;
  height: 24px;
  object-fit: contain;
}
